<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p>Resulado: {$resultado}</p>
  <nav>
      <a href="/">Volver</a>
  </nav>
</body>
</html>
