html, body {
			height: 100%;
			margin: 0%;
		}

	 #header-titulo{color:#FFFFFF;}
	 #header{background-color:#000000;}
   #mapid { width: 900px; height: 500px}
	 #final-titulo{color:#FFFFFF;}
	 #final{background-color:#000000;}
